.card-grid-container {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  border-radius: 8px;
}

.card-grid-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.card-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}

.card-grid-item {
  display: flex;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
