/* styles/AlumnoCard.module.css */
.card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem; /* sigue siendo redondeada */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.info {
  margin-top: 0.75rem;
}

.especialidad {
  font-size: 0.9rem;
  color: #666;
}
